####   API   ####
api/dist
api/node_modules
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*
api/.DS_Store
api/coverage
api/.nyc_output
api/.idea
api/.project
api/.classpath
api/.c9/
api/*.launch
api/.settings/
api/*.sublime-workspace
api/.vscode/*
api/!.vscode/settings.json
api/!.vscode/tasks.json
api/!.vscode/launch.json
api/!.vscode/extensions.json
api/.env
api/.env.test
api/.env.production
