####   API   ####
api/dist
api/node_modules
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*
api/.DS_Store
api/coverage
api/.nyc_output
api/.idea
api/.project
api/.classpath
api/.c9/
api/*.launch
api/.settings/
api/*.sublime-workspace
api/.vscode/*
api/!.vscode/settings.json
api/!.vscode/tasks.json
api/!.vscode/launch.json
api/!.vscode/extensions.json
api/.env
api/.env.test
api/.env.production



#### Web ####
web/node_modules
web/.pnp
web/.pnp.js
web/coverage
web/.next/
web/out/
web/build
web/.DS_Store
web/*.pem
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.env*.local
web/.vercel
web/*.tsbuildinfo
web/next-env.d.ts
web/.env
web/.env.test
web/.env.production
